.btn-home {
    width: 100%;
    display: table;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    position: fixed;
    transform: translateY(-50px);
    button {
        padding: 50px 50px;
        margin: 0 2% 15px;
        width: 380px;
        max-width: 90%;
    }
}
