/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600;1,800&display=swap');

html, body, h3, p {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.text-center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.color-white {
    color: #fff;
}

.color-gradinte-default {
    background-color: #F16550;
    background-image: linear-gradient(to right, #e66238, #F16550);
}

.button-default {
    background-color: #F16550;
    color: #fff;
}

.btn-save {
    background: #F16550;
    color: #fff;
    padding: 0 30px !important;
}